nav {
    width: $site-width;
    height: 80px;
    margin: 0 auto;
    border-bottom: 2px solid $site-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;                //to set z-index u have to have a position
    
    .logo {
        color: $site-black;
        display: flex;
        align-items: flex-end;
        border: 2px solid $site-black;
        width: 92px;
        height: 38px;
        font-family: gillSans;
        font-size: 20px;
        letter-spacing: 2px;
        white-space: nowrap;

        p {
            position: absolute;
            top: 39px;
            right: 892px;
        }
    }

    .links {
        a {
            color: $site-black;
            text-decoration: none;
            font-family: gillSans;
            letter-spacing: 1.5px;
            font-size: 15px;
        }

        span {
            border: 1px solid $site-blue;
            margin: 0 20px;
            width: 0px;
            height: 22px;
        }
    }
}